@import '../base/reset.scss';
@import '../themes/variable.scss';
@import '../helpers/mixin.scss';

.body {
    background-color: #F8F8F8;
}
.container {
    /* position: relative; */
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
}
.container.visible {
    overflow: visible;
}
.container.fill-height {
    height: 100%;
}
.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}