/* 改变主题色变量 */
$main-style: #00AD9F;   // 主色调

$main-color: #1e9fff;   // 主颜色

$success-color: #67C23A;    // 成功的颜色

$-font-danger-color: #C8201E; // 警告颜色

$-font-title-color: #000000;  // 标题色

$-font-content-color: #000000;    // 内容主色调

$-font-extra-color: #999999;    // 标注文字颜色

$border-color: #D8D8D8; // 边框颜色

$tag-bg-color: #F0F0F0; // 平常的元素的背景色

$bg-color: #F2F2F2; // 全局背景色

$-strong-font-size: 26px;   // 突出文案字体大小

$-title-font-size: 16px;    // 一般标题文字大小

$-content-font-size: 14px;  // 文本内容的文字大小

$-small-font-size: 12px;    // 辅助文字的颜色

$-placeholder-color: #C0C4CC; // placeholder 文字颜色